
body{
    background-image: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: bold;
    margin: 0;
}

.formStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.formStyle *{
    margin-bottom: 5px;
}

.customButton{
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

.customButton:hover{
    opacity: 0.7;
}

.inputWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.inputWrapper .conjuntoInput{
    width: 80%;
}

.inputWrapper .nomeInput{
    width: 15%;
}

.inputWrapper .remover{
    width: 7%;
    padding: 3px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.resultStyle{
    cursor: default;
    resize: vertical;
}

.selectStyle{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

}

.subtitleStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.subtitleStyle p{
    font-weight: bold;
    font-size: 0.18in;
    margin: 5px;
}

.container-xxl{
    margin-top: 50px;
    justify-content: space-around;
    text-align: center;
    display: inline-flex;
    max-width: none;
}