
body{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

h1{
    margin: 0;
}

form{
    width: 45%;
    
}

.formStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.formStyle *{
    margin-bottom: 5px;
}

.customButton{
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}


.inputWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.inputWrapper .conjuntoInput{
    width: 80%;
}

.inputWrapper .nomeInput{
    width: 15%;
}

.inputWrapper .remover{
    width: 7%;
    padding: 3px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.resultStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    resize: vertical;
}

.selectStyle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

}

.subtitleStyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.subtitleStyle p{
    margin: 5px;
}